# {{ ansible_managed }}
[{{ rsyslog8_rhel_centos_repo_yum_repo_id }}]
name={{ rsyslog8_rhel_centos_repo_name }}
baseurl={{ rsyslog8_rhel_centos_repo_baseurl }}
enabled={{ rsyslog8_rhel_centos_repo_enabled }}
gpgcheck={{rsyslog8_rhel_centos_repo_gpgcheck }}
gpgkey={{ rsyslog8_rhel_centos_repo_gpgkey }}
protect={{ rsyslog8_rhel_centos_repo_protect }}
